 <fieldset>
  <p><h3><%= article.title %></h3> by <%= link_to User.find(article.user_id).name, User.find(article.user_id) %></p>
  <p><%= article.body.html_safe %></p>
  <%= render :partial => 'categories/category_links', :locals => {:categories => article.categories} %>
  <%= link_to 'Show', article %>
  <%= link_to 'Edit', edit_article_path(article) %>
  <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
</fieldset>