<%= form_for(@photo, :html => { :multipart => true }) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :categories %><br />
    <%= f.text_area :categories, :rows => 5, :value => category_string_from_categories(@photo.categories) %>
  </div>
  
  <div class = 'field'>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %></p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
