<fieldset>
  <h1><%= photo.name %></h1>
  <p><%= photo.description %></p>
  <!--<img src="<%=  %>" height='100' width='100'>-->
  <%= link_to "full size", "photos/#{photo.id}/image" %>
  <%= render :partial => 'categories/category_links', :locals => {:categories => photo.categories} %>
  <%= link_to 'Show', photo %>
  <%= link_to 'Edit', edit_photo_path(photo) %>
  <%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete %>
</fieldset>