<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="http://www.iamjoetaylor.com/dsa/wt-rotator.css"/>
		<%= stylesheet_link_tag "main" %>
		<%= javascript_include_tag "application", "jquery-1.7.1.min.js", "jquery.wt-rotator.min.js" %>
		
		<title>COCO DSA</title>
		
		<script type="text/javascript">
		$(document).ready(function() {
		      $(".container").wtRotator({
					width:960,
					height:300,
					transition:"random",
					auto_center:false,
					cpanel_position:"outside",
					display_thumbs:false,
					display_dbuttons:true,
					display_playbutton:true,
					display_numbers:true,
					block_size:90,
					vert_size:40,
					horz_size:40,
					transition_speed:300,
					mousewheel_scroll:false
				});
				
				$("#login a").click(function(event)	{
					if($(this).hasClass("login"))	{
						event.preventDefault();
						var self = $(this),
							div = self.parent(),
							loginForm = '<%= form_tag "/login" do %>     Member Login<br />                                                                              \
										<%= label_tag :email, 'Email:' %><%= text_field_tag :email, params[:email] %> <br />               \
										<%= label_tag :password, 'Password:' %><%= password_field_tag :password, params[:password] %> <br />         \
										<%= submit_tag 'Login', :class => "submit" %>                                                               \
										 <% end %>';
					
					
						if( !div.hasClass("form") )	{
							div.html(loginForm).addClass("form");
						}
					}
				});
				
		   });
		</script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<h1 id="logo">
					<a href="/">Contra Costa County Deputy Sheriffs Association</a>
				</h1>
				
				<ul>
					<% menu_items.each do |menu_item| %>
					  <%= render menu_item %>
					<% end %>
				</ul>
				
				<% if current_user == nil %>
		          <div id="login">
						<a class="login" href="#">Member Login</a>
		        	</div>
		        <% else %>
		        	<div id="login">
								<%= link_to_unless_current('Admin', admin_url){|link|content_tag 'span', link, :class => 'current'} %>                         &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Users', users_path){|link|content_tag 'span', link, :class => 'current'} %>                        &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Posts', posts_path){|link|content_tag 'span', link, :class => 'current'} %>                        &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Articles', articles_path){|link|content_tag 'span', link, :class => 'current'} %>                  &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Photos', photos_path){|link|content_tag 'span', link, :class => 'current'} %>                      &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Categories', categories_path){|link|content_tag 'span', link, :class => 'current'} %>              &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Polls', polls_path){|link|content_tag 'span', link, :class => 'current'} %>                        &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to_unless_current('Menu Items', menu_items_path){|link|content_tag 'span', link, :class => 'current'} %>              &nbsp;&nbsp;|&nbsp;&nbsp;
						    <%= link_to 'Logout', logout_url, method: :delete, confirm: "Are you sure?"  %>
					
		        	</div>
		        <% end %>
								
			</div><!-- End of Header -->
			
			<% if current_user != nil %>
			<!-- only for logged in users -->
			<div id="member_nav">
				<ul>
					<li><a href="#">Meeting Notes</a></li>
					<li><a href="#">Polls</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Message Board</a></li>
				</ul>
				<br class="clear">
			</div>
			<!-- End only for logged in users -->
			<% end %>
			
			<div id="content">
				<div id="slideshow">

					<div class="container">
						<div class="wt-rotator">
					    	<div class="screen">
					            <noscript>
					            	<!-- placeholder 1st image when javascript is off -->
					                <img src="images/madness_arch2.jpg"/>
					            </noscript>
					      	</div>
					        <div class="c-panel">
					      		<div class="thumbnails">
					                <ul>
					                    <li>
					                    	<a href="http://sphotos-a.xx.fbcdn.net/hphotos-ash3/574875_387243657985876_1669587350_n.jpg" title="architecture"><%= image_tag "http://sphotos-a.xx.fbcdn.net/hphotos-ash3/574875_387243657985876_1669587350_n.jpg" %></a>
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1 class="slideshow_title">Welcome</h1>
					                           Welcome to the Coco DSA website. Pleast take a look around. Mea ne dicat commune petentium, dicit utamur percipit nec id. 
					                           Id velit semper fierent eum.
					                       	</div>
					                    </li>
					                    <li>
					                    	<a href="http://sphotos-a.xx.fbcdn.net/hphotos-prn1/559514_393551500688425_1367604659_n.jpg" title="architecture"><%= image_tag "http://sphotos-a.xx.fbcdn.net/hphotos-prn1/559514_393551500688425_1367604659_n.jpg" %></a>
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1 class="slideshow_title">SERT Challenge</h1>
					                           CONGRATULATIONS to the Contra Costa Sheriff's Office MDF S.E.R.T. Team on your 1st Place victory at the 4th annual SERT Challenge. You all should be very proud!! There were some great teams this year from agencies around the Bay Area and State.
					                       	</div>
					                    </li>					                    
															<li>
					                    	<a href="http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/479070_386810581362517_1427779314_o.jpg" title="architecture"><%= image_tag "http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/479070_386810581362517_1427779314_o.jpg" %></a>
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1 class="slideshow_title">California Capitol</h1>
					                           Members of the Sheriffs Office on the steps of the California Capitol, Sacramento. Monday May 7th was a day to honor those who have died in the line of duty..We shall never forget all the brave men and women who have given all..
					                       	</div>
					                    </li>

					                
					              	</ul>
					          	</div>     
					  			<div class="buttons">
					            	<div class="prev-btn"></div>
					                <div class="play-btn"></div>    
					            	<div class="next-btn"></div>               
					            </div>
					        </div>
					    </div>	
					</div>

				</div><!-- End of Slideshow -->
				<div class="leftCol">
			    	<%= yield %>
				</div>
				<div class="rightCol">
					<h2>Recent News</h2>
					<div class="news">
						<% recent_articles.each do |article| %>
							<%= render :partial => 'articles/recent', :locals => {:article => article} %>
						  
						<% end %>
					</div>
				</div>
				<br class="clear">
			</div><!-- End of Content -->
		</div><!-- End of Wrapper -->
		<div id="footer">
			<div id="footer_container">
				&copy;2012 COCO DSA &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;All Rights Reserved
				
				<div class="social_media">
					<a href="http://www.facebook.com/pages/Contra-Costa-County-Deputy-Sheriffs-Association/171114546265456" target="_blank" class="fb">Coco DSA on FB</a>
				</div>
			</div>
		</div>
	</body>
</html>