<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="http://www.iamjoetaylor.com/dsa/wt-rotator.css"/>
		<%= stylesheet_link_tag "main" %>
		<%= javascript_include_tag "jquery-1.7.1.min.js", "jquery.wt-rotator.min.js" %>
		
		<script type="text/javascript">
		$(document).ready(function() {
		      $(".container").wtRotator({
					width:960,
					height:300,
					transition:"random",
					auto_center:true,
					cpanel_position:"outside",
					display_thumbs:false,
					display_dbuttons:true,
					display_playbutton:true,
					display_numbers:true,
					block_size:90,
					vert_size:40,
					horz_size:40,
					transition_speed:300,
					mousewheel_scroll:false
				});
				
				$("#login a").click(function(event)	{
					event.preventDefault();
					var self = $(this),
						div = self.parent(),
						loginForm = '<form action="/">Member Login <br />                                                                                   \
									<label for="username">Username</label><input type="text" id="username" name="user" /> <br />               \
									<label for="password">Password</label><input type="password" id="password" name="pw" /> <br />             \
									<input type="submit" class="submit" value="Login"/>                                                               \
									</form>';
					
					
					if(self.hasClass("logout"))	{
						window.location = "/logout";
						return;
					}
					if( !div.hasClass("form") )	{
						div.html(loginForm).addClass("form");
					}
				});
				
		   });
		</script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<h1 id="logo">
					<a href="/">Contra Costa County Deputy Sheriffs Association</a>
				</h1>
				
				<ul>
					<% menu_items.each do |menu_item| %>
					  <%= render menu_item %>
					<% end %>
				</ul>
				
				<% if current_user != nil %>
		          <div id="login">
						<a href="#">Member Login</a>
		        	</div>
		        <% else %>
		        	<div id="login">
						<a href="#" class"logout">Logout</a>
		        	</div>
		        <% end %>
								
			</div><!-- End of Header -->
						
			<div id="content">
				<div id="slideshow">

					<div class="container">
						<div class="wt-rotator">
					    	<div class="screen">
					            <noscript>
					            	<!-- placeholder 1st image when javascript is off -->
					                <img src="images/madness_arch2.jpg"/>
					            </noscript>
					      	</div>
					        <div class="c-panel">
					      		<div class="thumbnails">
					                <ul>
					                    <li>
					                    	<a href="http://www.iamjoetaylor.com/dsa/images/slide_example.png" title="architecture"><%= image_tag "slide_example.png" %></a>
					                        <a href="#" target="_blank"></a>                        
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1>Banner Rotator</h1>
					                           Lorem ipsum no sed posse dicit, cum affert hendrerit suscipiantur in. Est an quod amet utroque, perpetua eloquentiam ea pri. 
					                           In vim alii dicam disputationi. Mea ne dicat commune petentium, dicit utamur percipit nec id. 
					                           Id velit semper fierent eum.
					                       	</div>
					                    </li>
					                    <li>
					                    	<a href="http://www.iamjoetaylor.com/dsa/images/slide_example_2.png" title="architecture"><%= image_tag "slide_example_2.png" %></a>
					                        <a href="#" target="_blank"></a>                        
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1>Banner Rotator</h1>
					                           Lorem ipsum no sed posse dicit, cum affert hendrerit suscipiantur in. Est an quod amet utroque, perpetua eloquentiam ea pri. 
					                           In vim alii dicam disputationi. Mea ne dicat commune petentium, dicit utamur percipit nec id. 
					                           Id velit semper fierent eum.
					                       	</div>
					                    </li>
					                    <li>
					                    	<a href="http://www.iamjoetaylor.com/dsa/images/slide_example_3.png" title="architecture"><%= image_tag "slide_example_3.png" %></a>
					                        <a href="#" target="_blank"></a>                        
					                        <div style="top:5px; left:484px; width:336px; height:0; color:#FFF; background-color:#000;">
					                           <h1>Banner Rotator</h1>
					                           Lorem ipsum no sed posse dicit, cum affert hendrerit suscipiantur in. Est an quod amet utroque, perpetua eloquentiam ea pri. 
					                           In vim alii dicam disputationi. Mea ne dicat commune petentium, dicit utamur percipit nec id. 
					                           Id velit semper fierent eum.
					                       	</div>
					                    </li>
					                
					              	</ul>
					          	</div>     
					  			<div class="buttons">
					            	<div class="prev-btn"></div>
					                <div class="play-btn"></div>    
					            	<div class="next-btn"></div>               
					            </div>
					        </div>
					    </div>	
					</div>

				</div><!-- End of Slideshow -->
				<div class="leftCol">
			    	<%= yield %>
				</div>
				<div class="rightCol">
					<h2>Recent News</h2>
					<div class="news">
						<% recent_articles.each do |article| %>
						  <%= render article %>
						<% end %>
					</div>
				</div>
				<br class="clear">
			</div><!-- End of Content -->
		</div><!-- End of Wrapper -->
		
		  <%= link_to 'Admin', admin_url %>
	    <%= link_to 'Logout', logout_url, method: :delete, confirm: "Are you sure?"  %>
	    <%= link_to 'Users', users_path %>
	    <%= link_to 'Posts', posts_path %>
	    <%= link_to 'Articles', articles_path %>
	    <%= link_to 'Photos', photos_path %>
	    <%= link_to 'Categories', categories_path %>
	    <%= link_to 'Polls', polls_path %>
	    <%= link_to 'Menu Items', menu_items_path %>

	    
	</body>
</html>