<!DOCTYPE html>
<html>
  <head>
    <title>Dsa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= link_to 'Admin', admin_url %>
    <%= link_to 'Logout', logout_url, method: :delete, confirm: "Are you sure?"  %>
    <%= link_to 'Users', users_path %>
    <%= link_to 'Posts', posts_path %>
    <%= link_to 'Articles', articles_path %>
    <%= link_to 'Photos', photos_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Polls', polls_path %>

    <%= yield %>

  </body>
</html>
